.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.75);
}

.modal {
  position: fixed;
  top: 30vh;
  left: 10%;
  width: 80%;
  z-index: 100;
  overflow: hidden;
}

.header {
  background: #5f3f00;
  padding: 2rem;
}

.header h2 {
  margin: 0;
  color: white;
  font-size: 2.4rem;
}

.content {
  padding: 2rem;
  background-color: #fff;
  font-size: 1.8rem;
}

.actions {
  padding: 2rem;
  display: flex;
  justify-content: flex-end;
  font-size: 1.8rem;
}

@media (min-width: 768px) {
  .modal {
    left: calc(50% - 20rem);
    width: 60rem;
  }
}
