.users {
  margin: 4rem auto;
  width: 90%;
  max-width: 40rem;
  font-size: 1.8rem;
}

.users ul {
  list-style: none;
  padding: 2rem;
}

.users li {
  border: 1px solid #ccc;
  margin: 1rem 0;
  padding: 1rem;
}
