.button {
  font: inherit;
  border: 1px solid orangered;
  background: orangered;
  color: white;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.button:hover,
.button:active {
  background: white;
  color: orangered;
}

.button:focus {
  outline: none;
}
